<div class="container">
    <form novalidate #form="ngForm">
    <div class="articlepost-item" style="margin-top: 10px;">
        <div><i class="fas fa-user"> {{article.user.name}} {{article.user.surname}}</i>
            <div *ngFor="let tag of article.tags" class="category">{{tag.text}}</div>
        </div>
        <h3>{{article.title}}</h3>
        <div class="post-excerpt">
            <span class="before-mord">{{article.text}}</span>
        </div>
    </div>
    <hr>
    <h3>{{article.comments.length}} comments</h3>
    <div class="articlepost-item" style="margin-top: 10px;"></div>
    <div class="comment" *ngFor = "let comment of article.comments" >
        <span class="before-mord">{{comment.text}}</span>
        <a [routerLink]="['/article/'+ comment.id]"><i class="fas fa-edit" style="display: inline-block; margin-left: 10px;" (click)="onEdit(comment.id)"></i></a>
    </div>
        <textarea name="" id="" cols="168" rows="5" placeholder="Comment" name="text" #text="ngModel"
            [(ngModel)]="comment.text"></textarea>
        <br/>
        <br/>
        <a [routerLink]="['/article/'+id]"><button class="btn btn-primary" (click)="AddComment(comment)" type="button">Comment</button></a>
    </form>
</div>