<!-- <div class="articlepost-item" style="margin-top: 10px;">
    <div><i class="fas fa-user"> {{article.user.name}} {{article.user.surname}}</i>
        <div *ngFor="let tag of article.tags" class="category">{{tag.text}}</div>
    </div> -->


    <!-- <i class="fas fa-user"> {{article.user.name}} {{article.user.surname}}</i> -->

    
    <!-- <h3>{{article.title}}</h3>
    <div class="post-excerpt">
        <span class="before-mord">{{article.text}}</span>
    </div>
    <i class="fas fa-comment-dots"> {{article.comments.length}}</i>
</div> -->
<div class="container">
    <div class="articlepost-item" style="margin-top: 10px;">
        <div><i class="fas fa-user"> {{article.user.name}} {{article.user.surname}}</i>
            <div *ngFor="let tag of article.tags" class="category">{{tag.text}}</div>
        </div>
        <!-- <i class="fas fa-user"> {{article.user.name}} {{article.user.surname}}</i> -->
        <h3>{{article.title}}</h3>
        <div class="post-excerpt">
            <span class="before-mord">{{article.text}}</span>
        </div>
    </div>
    <hr>
    <h3>{{article.comments.length}} comments</h3>
    <div class="articlepost-item" style="margin-top: 10px;"></div>
    <div class="comment" *ngFor = "let comment of article.comments">
        <span class="before-mord">{{comment.text}}</span>
    </div>
</div>