<!-- <table class="table">
    <thead class="thead-light">
        <tr ngclass="btn-primary">
            <th class="tbl2">Email</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of articles">

        </tr>
    </tbody>
</table> -->
<!-- <ul>
    <li *ngFor="let article of articles">{{article.title}}
        <ul>
            <li *ngFor = "let comment of article.comments">
                {{comment.text}}
            </li>
        </ul>
    </li>
</ul>
-->

<!-- <div *ngFor="let article of articles" class="container">
    <div class="row">
        <h1 class="my-1 h4">{{article.title}}</h1>
    </div>
    <div class="row col-md-4">{{article.text}}</div>
</div> -->

